* {
  padding: 0;
  margin: 0;
  font-family: Arial;

}


/* header
============================================*/
header {

  background-image:url(../image/forest-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9em;
  position: relative;
}



.main-title {
  text-align: center;
  font-size: 3em;
  color: #000000;
  font-weight: 700;
}

.main-title-mobile {
  display: none;
}


.sub-title {
  text-align: center;
  transform: translateY(1.5em);
  color: #000000;
  font-size: 1.5em;
  font-weight: 100;
}

span {
  font-weight: 900;
}



/* nav bar
============================================================*/

nav {
  position: absolute;
  width: 100%;
  background-color: #00bb00;
  position: relative;



}

nav ul {

text-align: center;

}

nav li {

  display: inline-block;
  margin: 1em;
}

nav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 0.82em 0.5em 0.9em 0.5em;
  border-radius: 4px;

}

nav li a:hover,
nav li a:focus {
  color: black;
  background-color: #00FF9B;
  background-size: cover;


}

nav ul li {
  position: relative; /*this is to make the drop-down meny vertical (if absolute is added in nav ul li ul) */
}

nav ul li ul
{
  position: absolute;
  display: none;
  background-color: #00BB00;
  top: 2.4em;
  padding: 0;
  border-radius: 0 0 4px 4px;
  margin: 0;
  border: 0;

}

nav ul li ul li{
  width: 219px;
  margin: 0;
  height: 2em;
  text-align: left;


}

nav ul li ul li a {


  padding: 8px 25px 8px 25.6px;
  border-radius: 4px;


}

.blog-drop {

  height: cover;
  top: 2.4em;
  padding-top: .4em;

}

.newest-article:hover,
.newest-article:focus {

  padding-right: 71px;

}

.first-article:hover,
.first-article:focus {
  padding-right: 99px;
  padding-bottom: 11px;
}





nav ul li:hover ul {
    display: block;
    z-index: 2;
}

.ul-other {
  color: white;
  margin: 0;
  padding: 0;
  text-align: left;




}

.li-other {
    height: 2.2em;
    width: 215px;
    margin: 0 auto;
    position: relative;
    top: 0.4em;


}

.li-other:hover,
.li-other:focus {
  background-color:
}

.li-other a {
  width: 100%;

}




.other-a:hover,
.other-a:focus {
  background-color: #00ff9b;
  padding: 0;
  padding: 8px 124px 8px 24px;

}

.other-a1:hover,
.other-a1:focus {
  background-color: #00ff9b;

}


body {
  background-color: #232323;

}



/* How to use this site?
===============================================*/

.complete-how-to-use {
  position: absolute;
  background-image: url(../image/snowmountains1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20em 0;
  z-index: 1;
  position: relative;

}


.how-to-use {
  position: absolute;
  max-width: 40%;
  background-color: #232323;
  left: 40%;
  padding: 0 0 1em 0;
  top: 4em;
  border-radius: 10px;
  border-style: groove;
  border-color: #00bb00;

}

.title-how-to-use {
  text-align: center;
  color: #00bb00;
  margin: 1em;
  background-color: #232323;
  font-size: 24px;
}

.text-how-to-use {
  text-align: center;
  color: white;
  margin: 1em;
  max-width: 90%;
  line-height: 20px;

}

.text-how-to-use a {
  text-decoration: none;
  font-weight: 800;
  color: #00bb00;
}

.text-how-to-use a:hover,
.text-hot-tu-use a:focus {
  color: #00ff9b;
}
.button {
  display: flex;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  background-color: #00bb00;
  padding: 10px;
  max-width: 30%;
  text-decoration: none;
  color: white;
  border-radius: 10px;


}

.button a {
  text-decoration: none;
  font-size: 19px;
  color: white;
  padding: 10px;
  margin:0;
  border: 0;



}

.button:hover,
.button:focus {
  background-color: #00FF9B;
  color: black;
}





/* TODO: button background is to wide (margin in button has to be smaller) */








/* about me
============================================================ */





.about-me {
  position: relative;
  top: 70em;
  left:10%;
  right:10%;
  max-width: 100%;
  position: absolute;
  margin:2em;
  color: white;
  border-style: double;
  border-color: #00BB00;
  border-width: 3px;
  border-radius: 10%;
  padding: 0 0.5em 1em 0.5em;


}

.aboutme1
{
  display: block;
  margin: 1em auto;
  margin-top: 3em;

  border-radius: 100%;
  border: solid;
  border-width: 3px;
  color: #00bb00;
  object-fit: contain;
  max-height: 10%;
  max-width: 50%;
  width: auto;
  height: auto;

}

.title-about-me {
  color: #00bb00;
  text-align: center;
  margin:2em;
  font-size:24px;
}

.about-me1 {
  margin:1em;
  text-align: left;

}


.about-me2 {
  margin: 1em;
  text-align: left;
}







/* version smaller than 960px
===============================================================*/


@media (max-width: 1030px) {

  .main-title {
    display : none;
  }

  .main-title-mobile {
    display: block;
    text-align: center;
    font-weight: 700;
    color: #000000;
    font-size: 2em;
    width: cover;
  }

}





/* versmaller than 475 px
=========================================================================*/
@media (max-width: 1030px) {

  .main-title {
    display : none; }

  .main-title-mobile {
    display: block;
    position: absolute;
    top: 2.8em;
    left: 10%;
    right: 10%;
    font-weight: 700;
    color: #000000;
    font-size: 2em;
    margin: 0;
    width: cover;
  }

.sub-title {
  position: absolute;
  font-size: 1.5em;
  top: 6em;
  left:20%;
  right:20%;
}

/* nav background
==========================================================*/



nav ul li:hover ul {
  display: none;
}


/* How to use this site mobile
========================================================== */


.how-to-use {
  position: absolute;
  max-width: 100%;

  background-color: #232323;
  left: 5%;
  right: 5%;
  padding: 0 0 1em 0;
  top: 2%;
  border-radius: 10px;
  border-style: groove;
  border-color: #00bb00;

}

.title-how-to-use {
  text-align: center;
  color: #00bb00;
  margin: 1em;
  background-color: #232323;
  font-size: 24px;
}

.text-how-to-use {
  text-align: center;
  color: white;
  margin: 1em;
  max-width: 90%;


}

.button a {

  font-size: 15px;



}

.about-me {
  top: 67em;
  left:1%;
  right:1%;
  max-width: 100%;
  position: absolute;
  margin:2em;
  color: white;
  border-style: double;
  border-color: #00BB00;
  border-width: 3px;
  border-radius: 10px;
  padding: 0 0.5em 1em 0.5em;


}



.title-about-me {
  color: #00bb00;
  text-align: center;
  margin:1em;
  font-size:24px;
}

.about-me1 {
  margin:1em;
}

.about-me2 {
  margin: 1em;
}











}
